:root{
    --main-branding-color:#685DC5;
    --primary-color: #636363;
    --secondary-color:#949494;
    --font-size-small-heading: 12px;
}

body{
    font-family: Apercu Pro !important ;
}

h1, h2,  h6, #col {
    color: var(--main-branding-color) !important;
}

h2,h6, .application-information
{
    font-size: var(--font-size-small-heading) !important;
}

p, #marketing, #logo-text-1{
    color: var(--secondary-color);
    font-weight: 200;
}

.header {
    background-color: #685DC5;
    padding: 1.25em;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 50px;
}
#header{
    font-size: 7px;
    letter-spacing: 0.5px;
    font-weight: 100;
    position: absolute;
    margin-left: 2px !important;
}
#header-btn {
    display: flex;
    justify-content: flex-end;
    left: 90%;
    top: 5px;
    position: absolute;
  
}

.header-btn{
align-items: center;
background-color: #53b976;
font-size: 10px;
color: white;
border-radius: 50%;
text-align: center;
height: 75px;
width: 75px;
border: none;
font-weight: bold;
}

.header-btn:hover{
    background-color: #499866;
}

/* Hero Section*/
h1{
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.6px;
     width: 440px;
     height: 96px;
     position: relative;
}
.hero-title{
    position:relative;
    margin-right: 100px;
    margin-top: 5px;
    height:auto;
    width:auto;
    align-items: center;
    justify-content: center;
}

.hero-img{
    content:"";
    background-image: url(./src/icon.png);
    background-size: 120px 120px;
    background-position: left 220px top -15px;
    background-repeat: no-repeat;
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    z-index: -1;
}
#hero-summary{
    color: var(--primary-color);
    font-weight: 500px;
    height: auto;
    width: 330px; 
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

#hero-info{
        height: auto;
        width: 300px;
}

#position{
        color: var(--primary-color);
        font-weight: 500px;
}

#hero-btn{
    margin-top: 30px;
 }

.hero-btn{
   background-color: var(--main-branding-color);
   color: white;
   height: 30px;
   border-radius: 20px;
   border: none;
   font-size: 10px;
   padding-left: 2em;
   padding-right: 2em;
}   

.hero-btn:hover {    
    background-color: #4e469d;
}

.logo{
   width: 60px;
   height: auto;
}

.logo-text-2{
color: var(--secondary-color);
}

.logo-text{
    padding-top: 5px;
}

#app-countdown{
    letter-spacing: 2px;
}

.background-img {
    background-image: url("./src/student-icon.png");
    background-attachment: fixed;
    background-size: 35px;
    position: absolute;
    z-index: -1;
    bottom: 20px;
    left: 730px;
    height: 180px;
    border: 1px solid rgb(230, 230, 230);

}

.application-deadline, .application-information{
    border:1px solid #939393;
    border-radius: 5px;
    width: 350px;
    margin-top: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

/* About  Section*/

#about-section{ 
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 120px;
 }

h4{
    font-size: 20px !important;
    font-weight: 200 !important;
 }

.student-img{
padding-left: 22.5px;
padding-bottom: 20px;
background-image: url(/src/student-icon.png);
background-size: 30px  30px;
width: 350px;
height: 350px;
border-radius: 50%;
border: 1px solid #e4e4e4;
}

#student-img{
    margin-top:25px ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


.about-summary{
    width: 370px;
    height: 160px;
    margin-top: 40px;

}
#value{
     padding-bottom: 142px;
     font-size: 50px;
}

.value-headings, .value-figures {
    display: flex;
    justify-content: space-between;
}

#study{
    width: 230px;
    padding-bottom: 71px;
}

#work{
    width: 250px;
}

#contract{
    padding-bottom: 31px;
}

.graduation{
    width: 100%; 
    font-weight:500;
    font-size: small;
    text-align: center; 
    border-bottom: 1px solid #b4b3b3; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.graduation  span { 
    background:#fff; 
    padding:0 10px; 
}

.line{
    width: 20px; 
    height: 1px; 
    background-color: #b4b3b3;
}

/* Slider Section*/

#carousel{
    padding-left: 80px !important;
    padding-right: 80px !important;
    margin-top: 100px;

}
.carousel {
    position: relative;
    background-image: url(src/student-icon.png);
    background-color: #939393;
    height: 300px;
    background-size: 60px 60px;
    border: 1px solid #e4e4e4;
    display: flex; 
    flex-direction: row; 
}

.slider-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.text-container {
    margin-left: 20px;
    margin-top: 30px;
}

    li {
        position: absolute;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 500px);
        grid-gap: 300px;
        pointer-events: none;
    }

.student-slider {
    position: relative;
    background-color: white;
    border: 1px solid #e4e4e4;
    width: 650px;
    margin: 0 auto;
    margin-top: 100px !important;
    border-radius: 16px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 

}

#student-name {
    font-weight: 500;
    margin-bottom: 0%;
}

#profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px; 
}

.linkedIn {
    display: flex;
    justify-content: flex-end;
    color: #939393;
    margin-left: 100px;
}

.linkedIn :hover {
    color: #4e469d;
}

.slider-info {
    flex: 1; /* Fill remaining space */
    background-color: #ebebeb44;
    padding: 20px;
}

/* Drop Menu & Accordion*/

.faq{
padding-left: 200px!important;
padding-right: 200px!important;
margin-top: 200px;
margin-bottom: 50px;

.navbar-brand {
    color: var(--main-branding-color);
}

#navbarNavDropdown{
    display: flex;
    justify-content: flex-end;
}

.drop-btn{
    background-color: white;
    color:var(--main-branding-color);
    border-radius: 16px;
    border: 0.5px solid var(--primary-color);
    padding-left: 15px;
    padding-right:15px ;
}

#filter{
    display: flex;
    align-items: end;
    justify-content: right;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 15px;
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
  }

  .accordion{
    --bs-accordion-active-bg: white;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: #636363; ;
}

.accordion-button::after{
    background-image: url(/src/plus-circle.svg);
transition: 0.5;
}

.accordion-button:not(.collapsed)::after{
    background-image: url(src/dash-circle.svg);
    
}

.accordion-body{
    display: flex;
   text-align: left;
   flex-direction: column;
   padding-left: 430px !important;
}

/* sticky bar*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
    
}
