:root{
    --main-branding-color:#685DC5;
    --primary-color: #636363;
    --secondary-color:#535353;
    --font-size-small-heading: 12px;
}

body{
    font-family: Apercu Pro;
}

h1, h2,  h6, #col {
    color: var(--main-branding-color) !important;
}

h2,h6, .application-information
{
    font-size: var(--font-size-small-heading) !important;
}

p, #marketing, #logo-text-1{
    color: var(--secondary-color);
    font-weight: 200;
}

.header {
    background-color: #685DC5;
    padding: 1.25em;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

#header-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}

.header-btn{
align-items: center;
background-color: #4fa06c;
font-size: 10px;
color: white;
border-radius: 50%;
height: 75px;
width: 75px;
border: none;
font-weight: bold;
}

/* Hero Section*/

.hero-title{
    background-image: url(./src/icon.png);
    background-size: 120px  120px;
    background-position: right top;
    background-repeat: no-repeat;
    margin-right: 240px;
}

h1{
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.6px;
    width: 440px;
    height: 96px;
}

#hero-summary{
    color: var(--primary-color);
    font-weight: 500px;
    height: auto;
    width: 330px; 
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

#hero-info{
        height: auto;
        width: 300px;
}

#position{
        color: var(--primary-color);
        font-weight: 500px;
}

#hero-btn{
    margin-top: 30px;

 }

.hero-btn{
   background-color: var(--main-branding-color);
   color: white;
   height: 30px;
   border-radius: 20px;
   border: none;
   font-size: 10px;
   padding-left: 2em;
   padding-right: 2em;
}   

.hero-btn:hover {    
    background-color: #4e469d;
}

.logo{
   width: 60px;
   height: auto;
}

.logo-text-2{
color: var(--secondary-color);
}

.logo-text{
    padding-top: 5px;
}

#app-countdown{
    letter-spacing: 2px;
}

.application-deadline, .application-information{
    border:1px solid #939393;
    border-radius: 5px;
    width: 350px;
    margin-top: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.background-img {
    background-image: url("./src/student-icon.png");
    background-attachment: fixed;
    background-size: 35px;
    position: absolute;
    z-index: -1;
    bottom: 20px;
    left: 730px;
    height: 180px;
    border: 1px solid rgb(230, 230, 230);
    background-position-x: 0;
}

/* About  Section*/

#about-section{
    margin-top: 100px;
    padding-left: 50px;
}
h4{
    font-size: 20px !important;
    font-weight: 200 !important;
 }
.student-img{
padding-left: 22.5px;
padding-bottom: 20px;
background-image: url(/src/student-icon.png);
background-size: 30px  30px;
width: 350px;
height: 350px;
border-radius: 50%;
border: 1px solid #e4e4e4;
}
#student-img{
    margin-top:25px ;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#about-section{ 
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 80px;
 }
.about-summary{
    width: 370px;
    height: 160px;

}
#value{
     padding-bottom: 96px;
     font-size: 50px;
}

.value-headings, .value-figures {
    display: flex;
    justify-content: space-between;
}

#study{
    width: 230px;
    padding-bottom: 23px;
}

#work{
    width: 250px;
}

#contract{
    padding-bottom: 31px;
}

.graduation{
    width: 100%; 
    font-weight:500;
    font-size: small;
    text-align: center; 
    border-bottom: 1px solid #b4b3b3; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.graduation  span { 
    background:#fff; 
    padding:0 10px; 
}
.line{
    width: 20px; 
    height: 1px; 
    background-color: #b4b3b3;
}